@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body,
html {
  font-family: "PT Sans Narrow", sans-serif !important;
}

:root {
  --teal: #89cac7;
  --blue: #657498;
  --light: #e0e3ea;
  --dark: #14171e;
  --red: #ed2346;
  --white: #ffffff;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--dark);
}
h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
  padding: 3px;
  margin: 20px auto;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
  padding: 3px;
  margin: 20px auto;
}
.font-awesome {
  color: var(--blue);
}
