.contact-form-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
    background-color: var(--light);
  }
  
  .contact-info {
    flex: 0 0 300px;
  }
  
  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .ContactForm {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .ContactUsLabel {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .ContactUsInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  
 .ContactUsInput:focus {
    outline: none;
    border-color: #333;
  }
  
  .SendMsgBtn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .SendMsgBtn:hover {
    background-color: var(--teal);
  }