/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-container {
  width: 400px;
  border-radius: 5px;
  height: 100px;
  margin-top: 25px;
  margin-left: 62px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: var(--blue);
  display: inline-block;
}

.couchy {
  color: var(--blue);
  display: inline-block;
  font-size: 20px;
}
.navbar {
  font-size: 18px;
  background-color: var(--white);
  margin-bottom: 30px;
}

.main-nav {
  list-style-type: none;
  display: none;
  
}

.main-nav li {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
}

.main-nav li:hover {
  color: var(--teal);
  font-weight: bold;
}

.navbar-toggle {
  position: absolute;
  top: 43px;
  right: 20px;
  cursor: pointer;
  color: var(--blue);
  font-size: 24px;
}
.active {
  background-color: var(--light);
  border-radius: 3px;
  color: var(--black);
}
@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
.links {
  text-decoration: none;
}
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }
  .main-nav.li:hover {
    color: var(--light);
  }
}
