.home-heading {
  font-size: 70px;
  font-weight: bold;
  color: var(--dark);
}

.home-p {
  font-size: 26px;
  color: var(--dark);
}
.bottom-container {
  width: 100%;
  background-color: var(--light);
  padding: 50px;
  margin-top: 30px;
}

.home-left-container {
  padding: 50px;
}

.wrapper {
  width: 500px;
  margin: 50px 0px;
  text-align: center;
}

.wrapper .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper span {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 35px;
  font-size: 28px;
  font-weight: bold;
  color: var(--light);
  border: 2px solid var(--blue);
  background-color: var(--blue);
  border-radius: 5px;
  text-align: center;
}

.wrapper span:hover {
  background-color: var(--teal);
  color: var(--blue);
  border: solid thick var(--teal);
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .home-heading {
    font-size: 60px;
  }
}
