.home-heading {
  font-size: 70px;
  font-weight: bold;
  color: var(--dark);
}

.home-p {
  font-size: 26px;
  color: var(--dark);
}
.bottom-container {
  width: 100%;
  background-color: var(--light);
  padding: 50px;
  margin-top: 30px;
}

.home-left-container {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .home-heading {
    font-size: 60px;
  }
}
